<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/snublevann_liten_mork.ico">
    <title>Snublevann.no - Admin</title>
    <link href="~/Content/Custom/MainSheet.css" rel="stylesheet" />
    <link href="~/Content/Custom/customNav.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript">
    function toggle_visibility(id, id2, id3) {
        var e = document.getElementById(id);
        var e2 = document.getElementById(id2);
        var e3 = document.getElementById(id3);

        if (e.style.display == 'block')
          e.style.display = 'none';
       else
            e.style.display = 'block'
            e2.style.display = 'none';
            e3.style.display = 'none';
    }
    </script>
    <script type="text/javascript">
    function setcurrent_visibility(id, id2, id3, l1, l2, l3) {
        var e1 = document.getElementById(id);
        var e2 = document.getElementById(id2);
        var e3 = document.getElementById(id3);
        var o1 = document.getElementById(l1);
        var o2 = document.getElementById(l2);
        var o3 = document.getElementById(l3);

        if (/Customer/.test(self.location.href)) {
            e1.style.display = 'block'
            o1.style.fontWeight = 'bold';
        }
        else
            o1.style.fontWeight = 'normal';
        if (/Product/.test(self.location.href) || /Category/.test(self.location.href)) {
            e2.style.display = 'block'
            o2.style.fontWeight = 'bold';
        }
        else
            o2.style.fontWeight = 'normal';
        if (/Order/.test(self.location.href)) {
            e3.style.display = 'block'
            o3.style.fontWeight = 'bold';
        }
        else
            o3.style.fontWeight = 'normal';

    }
    </script>

</head>
<body onload="javascript:setcurrent_visibility('submenuUsers', 'submenuProducts', 'submenuOrders', 'usersLink', 'productsLink', 'ordersLink')">

    <div class="container">
        <div class="navbar navbar-inner" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="row">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <a href="~/Main/Main">
                                <img src="~/Content/img/snuble_admin.png" id="logo" width="500" height="96" style="margin-top: 20px; margin-left: 20px" />
                            </a>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="navUl pull-right">
                                @if (Session["loggedInUser"] != null)
                                {
                                    <a href="@Url.Action("ListCustomers", "Customer")" id="usersLink" onclick="toggle_visibility('submenuUsers', 'submenuProducts', 'submenuOrders');">
                                        <i class="glyphicon glyphicon-user"> </i> Brukere
                                    </a>

                                    <a href="#" id="productsLink" onclick="toggle_visibility('submenuProducts', 'submenuUsers', 'submenuOrders');">
                                        <i class=" glyphicon glyphicon-glass"> </i> Produkter
                                    </a>

                                    <a href="@Url.Action("ListOrders", "Order")" id="ordersLink" onclick="toggle_visibility('submenuOrders', 'submenuProducts', 'submenuUsers');">
                                        <i class="glyphicon glyphicon-align-justify"> </i> Ordre
                                    </a>

                                    <a href="@Url.Action("LogOut", "Main")">
                                        <i class="glyphicon glyphicon-log-out"> </i> Logg ut
                                    </a>
                                }
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
        <div class="container body-content">
            <!-- SUBMENY USER
            <div id="submenuUsers" style="display:none">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="navUl pull-right">
                                <a href="@Url.Action("ListCustomers", "Customer")">
                                    <i class="glyphicon glyphicon-user"> </i> Undermeny 1
                                </a>

                                <a href="@Url.Action("ListCustomers", "Customer")" id="product">
                                    <i class="glyphicon glyphicon-user"> </i> List alle
                                </a>
                        </div>
                    </div>
                </div>
            </div>-->

            <!-- SUBMENY PRODUCT-->
                <div id="submenuProducts" style="display:none">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="navUl pull-right">
                                <a href="@Url.Action("ListProducers", "Category")">
                                    <i class="glyphicon glyphicon-registration-mark"> </i> Produsent
                                </a>
                                <a href="@Url.Action("ListSubCategories", "Category")">
                                    <i class="glyphicon glyphicon-th"> </i> Underkategori
                                </a>
                                <a href="@Url.Action("ListCategories", "Category")">
                                    <i class="glyphicon glyphicon-th-large"> </i> Kategori
                                </a>
                                <a href="@Url.Action("ListProducts", "Product")" id="product">
                                    <i class="glyphicon glyphicon-glass"> </i> List Produkter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SUBMENY ORDERS
                    <div id="submenuOrders" style="display:none">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="navUl pull-right">
                                        <a href="@Url.Action("ListOrders", "Order")">
                                            <i class="glyphicon glyphicon-align-justify"> </i> Undermeny 1
                                        </a>

                                        <a href="@Url.Action("ListOrders", "Order")" id="product">
                                            <i class="glyphicon glyphicon-align-justify"> </i> List alle
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>  -->


                    @RenderBody()


                    <!-- TRENGER KANSKJE IKKE FOOTER HER?

         <div class="footer">
            <div class="jumbotron footerjumbo">
                Copyright &copy; @DateTime.Now.Year Snublevann - All rights reserved.
            </div>
        </div>-->

                </div>
    </body>
</html>