@model List<Nettbutikk.Models.Product>

@{
    ViewBag.Title = "Produkter";
}
<link href="~/Content/Custom/MainSheet.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#antiLink").on('click', function (event) {
            event.preventDefault();
        });
    });
</script>
            
            <div class="jumbotron">
                    @foreach (var item in Model)
                    {
                        <a href='@Url.Action("viewProduct","Product",new {id = item.itemnumber })'>
                            <div class="panel panel-default" style="background: #FFFFFF; margin-top: 0px">
                                <div class="panel-body">

                                    <div class="col-md-2">
                                        <img src=@Url.Content("~/Content/img/" + item.itemnumber + ".png") height="140" width="80">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-10">
                                                (@Html.DisplayFor(modelItem => item.volum, "#smallGray")) cl
                                                <h3>
                                                    @Html.DisplayFor(modelItem => item.name)
                                                </h3>

                                            </div>
                                            <div class="col-md-2">
                                                <h3>
                                                    @Html.DisplayFor(modelItem => item.price) ,-
                                                </h3>
                                                @Html.DisplayFor(modelItem => item.pricePerLitre) ,- per liter
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                @Html.DisplayFor(modelItem => item.description, new { @id = "smallGray" })
                                            </div>
                                            <div class="col-md-3">


                                                <div class="row">
                                                    @using (Html.BeginForm("addToCart", "ShoppingCart"))
                                                    {
                                                        <div class="form-group pull-right" id="antiLink">
                                                            <div class="input-group">
                                                                <label for="count" class="pull-left" style="margin-top: 25px; margin-right: 5px">Antall  </label>
                                                                @Html.EditorFor(modelItem => item.quantity, new { htmlAttributes = new { @class = "form-control", placeholder = "Antall", style = "width: 60px; margin-top: 12px" } })
                                                                <div class="input-group-btn pull-left">
                                                                    <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                    <br />
                </div>
        <div class="navbar navbar-default navbar-fixed-bottom">

            <div class="container">
                <p class ="navbar-text text-center"> Nettbutikk for de flinkeste dataingeniørstudentene - 2014</p>
            </div>
        </div>
