@model List<Nettbutikk.Models.Product>

@{
    ViewBag.Title = "Produkter";
}
    
            <div class="jumbotron">


                <div class="btn-group" style="position: absolute; right:0; top:0; margin-right:74px; margin-top: 30px">
                    <button type="button" class="btn btn-default">Sorter etter</button>
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @if (Request.Url.AbsoluteUri.ToLower().Contains("?sc=yes")) 
                            {
                                <a href='@Url.Action("ListProducts", "Product", new { id = Model[0].subCategoryid , sc = "yes", sort = 1 })'>Navn</a>
                            }
                            else if(Request.Url.AbsoluteUri.ToLower().Contains("s?sc=no"))
                            {
                                <a href='@Url.Action("ListProducts", "Product", new { sc = "no", sort = 1 })'>Navn</a>
                            }
                            else
                            {
                                <a href='@Url.Action("ListProducts", "Product", new { id = Model[0].categoryid, sc = "no", sort = 1 })'>Navn</a>
                            }
                        </li>
                        <li class="divider"></li>
                        <li>
                            @if (Request.Url.AbsoluteUri.ToLower().Contains("?sc=yes"))
                             {
                            <a href='@Url.Action("ListProducts", "Product", new { id = Model[0].subCategoryid , sc = "yes", sort = 2 })'>Pris - Lav til høy</a>
                            }
                            else if (Request.Url.AbsoluteUri.ToLower().Contains("s?sc=no"))
                            {
                                <a href='@Url.Action("ListProducts", "Product", new {  sc = "no", sort = 2 })'>Pris - Lav til høy</a>
                            }
                            else
                            {
                                <a href='@Url.Action("ListProducts", "Product", new { id = Model[0].categoryid, sc = "no", sort = 2 })'>Pris - Lav til høy</a>

                            }
                        </li>
                        <li>@if (Request.Url.AbsoluteUri.ToLower().Contains("?sc=yes"))
                        {
                            <a href='@Url.Action("ListProducts", "Product", new { id = Model[0].subCategoryid , sc = "yes", sort = 3 })'>Pris - Høy til lav</a>
                        }
                            else if (Request.Url.AbsoluteUri.ToLower().Contains("s?sc=no"))
                            {
                                <a href='@Url.Action("ListProducts", "Product", new {  sc = "no", sort = 3 })'>Pris - Høy til lav</a>

                            }
                            else
                            {
                            <a href='@Url.Action("ListProducts", "Product", new { id = Model[0].categoryid, sc = "no", sort = 3 })'>Pris - Høy til lav</a>
                        }
                        </li>
                    </ul>
                </div>


                <div class="productPath">
                    <h5>
                        <a href='@Url.Action("ListProducts", "Product", new { id = "", sc = "no" })'> Produkter</a>
                        @if (!Request.Url.AbsoluteUri.ToLower().Contains("s?sc")) //Ganske klønete, men har ingen bedre måte akkurat nå.
                        {
                            <a href='@Url.Action("ListProducts", "Product", new { id = Model[0].categoryid, sc = "no" })'> > @Model[0].category</a>
                        }
                        
                        @if(Request.Url.AbsoluteUri.ToLower().Contains("?sc=yes"))
                        {
                            <a href='@Url.Action("ListProducts", "Product", new { id = Model[0].subCategoryid, sc = "yes" })'> > @Model[0].subCategory</a>
                        }
                    </h5>
                </div>
                <hr />
                    @foreach (var item in Model)
                    {
                       // <a href='@Url.Action("viewProduct","Product",new {id = item.itemnumber })'>
                        //HACK: superduperuglyhack! 
                       
                            <div class="panel panel-default clickable" style="background: #FFFFFF;margin-bottom:0px">
                                <div class="panel-body">
                                    <p id="itemnumber" style="display:none;">@Html.DisplayFor(modelItem => item.itemnumber)</p>
                                    <div class="col-md-2">
                                        @if (item.itemnumber > 100046)
                                        {
                                            <img src=@Url.Content("~/Content/img/products/defaultimg.png") height="140" width="90">
                                        }
                                        else
                                        { 
                                            <img src=@Url.Content("~/Content/img/products/" + item.itemnumber + ".png") height="140" width="90">
                                        }
                                        
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-10">
                                                (@Html.DisplayFor(modelItem => item.volum, "#smallGray")) cl
                                                <h3 id="productName">
                                                    @Html.DisplayFor(modelItem => item.name)
                                                </h3>

                                            </div>
                                            <div class="col-md-2">
                                                <h3>
                                                    @Html.DisplayFor(modelItem => item.price)
                                                </h3>
                                                @Html.DisplayFor(modelItem => item.pricePerLitre) pr liter
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                @Html.DisplayFor(modelItem => item.description, new { @id = "smallGray" })
                                            </div>
                                            <div class="col-md-3">


                                                <div class="row">
                                                    @using (Html.BeginForm("addToCart", "ShoppingCart"))
                                                    {
                                                        <div class="form-group pull-right">
                                                            <div class="input-group">
                                                                <label for="count" class="pull-left" style="margin-top: 25px; margin-right: 5px">Antall  </label>
                                                                @Html.EditorFor(modelItem => item.quantity, new {htmlAttributes = new { @class = "form-control", id="qtyField", type="number", min="1", style = "width: 60px; margin-top: 12px" } })
                                                                <div class="input-group-btn pull-left">
                                                                    <button class="btn btn-success shoppingBtn" type="submit"><span class="glyphicon glyphicon-shopping-cart shoppingBtn"></span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    }
                    <br />
                </div>

