@model List<Nettbutikk.Models.Product>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
        <h3>Søkeresultater</h3>
        <hr/>

        @if (Model.Count == 0)
        {
            <h4><i>Beklager, fant ingen varer som matchet ditt søk.</i></h4>
        }
        @foreach (var item in Model)
        {
            <div class="panel panel-default clickable" style="background: #FFFFFF; margin-bottom:0px">
                <div class="panel-body">
                    <p id="itemnumber" style="display:none;">@Html.DisplayFor(modelItem => item.itemnumber)</p>
                    <div class="col-md-2">
                        <img src=@Url.Content("~/Content/img/products/" + item.itemnumber + ".png") height="140" width="80">
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-10">
                                (@Html.DisplayFor(modelItem => item.volum, "#smallGray")) cl
                                <h3 id="productName">
                                    @Html.DisplayFor(modelItem => item.name)
                                </h3>

                            </div>
                            <div class="col-md-2">
                                <h3>
                                    @Html.DisplayFor(modelItem => item.price)
                                </h3>
                                @Html.DisplayFor(modelItem => item.pricePerLitre) pr liter
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                @Html.DisplayFor(modelItem => item.description, new { @id = "smallGray" })
                            </div>
                            <div class="col-md-3">


                                <div class="row">
                                    @using (Html.BeginForm("addToCart", "ShoppingCart"))
                                    {
                                        <div class="form-group pull-right">
                                            <div class="input-group">
                                                <label for="count" class="pull-left" style="margin-top: 25px; margin-right: 5px">Antall  </label>
                                                @Html.EditorFor(modelItem => item.quantity, new { htmlAttributes = new { @class = "form-control", id = "qtyField", type="number", min="1", placeholder = "Antall", style = "width: 60px; margin-top: 12px" } })
                                                <div class="input-group-btn pull-left">
                                                    <button class="btn btn-success shoppingBtn" type="submit"><span class="glyphicon glyphicon-shopping-cart shoppingBtn"></span></button>
                                                </div>
                                            </div>
                                        </div>


                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
    </div>

