@model Nettbutikk.Models.Product

@{
    ViewBag.Title = "Produkt";
}
    <div class="jumbotron">
    
        <div class="productPath">
            <!-- BRØDSMULESTI -->
            <h5>
                <a href='@Url.Action("ListProducts", "Product", new { id = "", sc = "no" })'> Produkter</a>
                > <a href='@Url.Action("ListProducts", "Product", new { id = Model.categoryid, sc = "no" })'> @Model.category</a>
                > <a href='@Url.Action("ListProducts", "Product", new { id = Model.subCategoryid, sc = "yes" })'> @Model.subCategory</a>
                > @Html.ActionLink(Model.name, "viewProduct" + "/" + Model.itemnumber)
        </h5>
        </div>

        <hr />
        <div class="row">
            <h3>
                @Html.DisplayFor(model => model.name) (@Html.DisplayFor(model => model.volum) cl)
            </h3>
        </div>
        <div class="row">
            <h4>
                (@Html.DisplayFor(model => model.producer))
            </h4>
        </div>
            <div class="row">
                <div class="col-md-3"> 
                    <a href='@Url.Content("~/Content/img/products/" + Model.itemnumber + ".png")'> 
                        <img src=@Url.Content("~/Content/img/products/" + Model.itemnumber + ".png") height="280" width="180">
                    </a>
                </div>
                <div class="col-md-4 pull-left">
                    <div class="row">
                         @Html.DisplayFor(model => model.longDescription)
                    </div>
                        <div class="row">
                            <h3>
                                @Html.DisplayFor(model => model.price) ,-
                            </h3>
                        </div>

                        <div class="row">
                            @Html.DisplayFor(model => model.pricePerLitre) ,- pr liter
                        </div>
                        @using (Html.BeginForm("addToCart", "ShoppingCart"))
                        {
                            <div class="form-group pull-left" id="antiLink">
                                <div class="row">
                                    <div class="input-group">
                                        <label for="count" class="pull-left" style="margin-top: 25px; margin-right: 5px">Antall  </label>
                                        @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control", placeholder = "Antall", style = "width: 60px; margin-top: 12px" } })
                                        <div class="input-group-btn pull-left">
                                            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
            </div>
        </div>
    @Html.ActionLink("Tilbake", "ListProducts")

