@model Nettbutikk.Models.ShoppingCart

@{
    ViewBag.Title = "Handlevogn";
}
<div class="jumbotron">
    <div class="container">
       <h3><span class ="glyphicon glyphicon-shopping-cart"></span> Min handlekurv</h3>
            <table class="table">
                <tr>
                    <th>Antall</th>
                    <th>Vare</th>
                    <th>Pris</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.shoppingCartItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.product.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove" style=" color:red"> @Html.ActionLink(" ", "removeItem", new { item = item.product.itemnumber })</span>
                        </td>
                    </tr>
                }

            </table>
            <footer style="float:right">
                <h4>
                    SUM:
                    @Html.DisplayFor(modelItem => Model.sum)
                    ,-
                </h4>

                <button class="btn btn-success"> @Html.ActionLink("BETAL", "checkout", "ShoppingCart", new { target = "_blank" })</button>
            </footer>
</div>
</div>   
