@model Nettbutikk.Models.ShoppingCart

@{
    ViewBag.Title = "Handlevogn";
}
<div class="jumbotron">
    <div class="container">
        <h3><span class="glyphicon glyphicon-shopping-cart"></span> Min handlekurv</h3>

        <table class="table">
            <tr>
                <th>Vare</th>
                <th>Antall</th>
                <th>Pris</th>
                <th></th>
            </tr>

   
            @foreach (var item in Model.shoppingCartItems)
            {
 
                <tr>
 @using (Html.BeginForm("updateCart", "ShoppingCart", FormMethod.Post)) { 
     @Html.AntiForgeryToken()
                    <td>
                        @Html.DisplayFor(modelItem => item.product.name)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.quantity, new { @class="form-control", Name = "quantity", style="width: 70px", type="number", min="1" })
                     </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.ActionLink("Fjern", "removeItem", new { id = @Model.shoppingCartItems.IndexOf(item) })
                    </td>
                    <td>
                        <button class="btn btn-primary" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-refresh"></i></button>
                            <input type="hidden" name="id" value="@Model.shoppingCartItems.IndexOf(item)" />

</td>
                    }
                </tr>
            }

        </table>
        <footer style="float:right">
            <h4>
                SUM:
                @Html.DisplayFor(modelItem => Model.sum)
            </h4> 
                    @if (Model.shoppingCartItems.Count() == 0)
                    {
                        
                        <button class="btn btn-success" id="checkoutButton" disabled>
                                <span class="glyphicon glyphicon-shopping-cart"></span> Sjekk ut
                            </button>
                             <br />
                             <small>Handlekurven er tom</small>
                    }
                    else
                    {
                            <a href="@Url.Action("checkout", "ShoppingCart", null)" class="btn btn-success" id="checkoutButton" target="_blank">
                                 <span class="glyphicon glyphicon-shopping-cart"></span> Sjekk ut
                            </a>
                    }           
        </footer>

    </div>
</div> 

<script type="text/javascript">
    $('#checkoutButton').click(function (event) {
        console.log("test");
        location.reload(true);
    })
</script>