@model Nettbutikk.Models.ShoppingCart

@{
    ViewBag.Title = "Handlevogn";
}
    <table class="table">
        <tr>
            <th>Vare</th>
            <th>Antall</th>
            <th>Pris</th>
        </tr>
   
        @foreach (var item in Model.shoppingCartItems) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.ActionLink("Fjern", "removeItem", new { item = item.product.itemnumber })
            </td>
        </tr>
        }

    </table>
    <footer>
        <h4>    
            SUM:
            @Html.DisplayFor(modelItem => Model.sum)
            ,-
        
            <div class="form-group pull-right">
                @Html.ActionLink("Sjekk ut! ", "checkout","ShoppingCart", new { target = "_blank" })
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </div>
        </h4>
    </footer>
    
