@model Nettbutikk.admin.Models.ProductInfo

@{
    ViewBag.Title = "addProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#verify').keyup(function () {
            if ($(this).val() == $('#password').val()) {
                $('#verifynote').addClass('hidden');
            }
            else {
                $('#verifynote').removeClass('hidden');
            }
        });

    });

</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="formTitle">
                    <h2><span class="glyphicon glyphicon-glass"></span>  Legg til nytt produkt</h2>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Produktnavn", tabindex = "1", autofocus = "" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.producer, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Produsent", tabindex = "2" } })
                                    @Html.ValidationMessageFor(model => model.producer, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Pris", tabindex = "3" } })
                                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.subCategory, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Underkategori", tabindex = "4" } })
                                    @Html.ValidationMessageFor(model => model.subCategory, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.volum, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Volum", tabindex = "5" } })
                                    @Html.ValidationMessageFor(model => model.volum, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Beskrivelse", tabindex = "6" } })
                                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Lang beskrivelse</h4>
                                    @Html.TextAreaFor(model => model.longDescription, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "", tabindex = "7" } })
                                    @Html.ValidationMessageFor(model => model.longDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success" tabindex="11">
                                        <i class="glyphicon glyphicon-pencil"></i>  Legg til produkt
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}





