@model PagedList.IPagedList<Nettbutikk.admin.Models.ProductInfo>

<div id="tullbal" class="panel panel-default partialView">
    <table>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(modelItem => Model[0].itemnumber)</b>
            </td>
            <td>
                <b>@Html.DisplayNameFor(modelItem => Model[0].name)</b>
            </td>
            <td>
                <b> @Html.DisplayNameFor(modelItem => Model[0].producer)</b>
            </td>
            <td>
                <b> @Html.DisplayNameFor(modelItem => Model[0].price)</b>
            </td>
            <td>
                <b> @Html.DisplayNameFor(modelItem => Model[0].volum)</b>
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="rows">
                <td>
                    @Html.DisplayFor(modelItem => item.itemnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.volum)
                </td>
                <td>
                    <button class="btn btn-xs btn-default" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-xs btn-default" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-align-justify"></i></button>
                    <button class="btn btn-xs btn-danger" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
            </tr>
        }
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListPartial", new { page }))


</div>

