@model PagedList.IPagedList<Nettbutikk.admin.Models.ProductInfo>
@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="submenu">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="navUl pull-right">
                    <a href="@Url.Action("ListCustomers", "Customer")">
                        <i class="glyphicon glyphicon-user"> </i> Undermeny 1
                    </a>

                    <a href="@Url.Action("ListProducts", "Product")" id="product">
                        <i class="glyphicon glyphicon-user"> </i> List alle
                    </a>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="jumbotron" style="padding-top:2px">
        <div class="container">

            <h3><span class="glyphicon glyphicon-user"></span> Produktoversikt </h3>
            <hr />

            <div class="form-group">
                <div class="input-group">
                    @Html.TextBox("searchString", null, new { id = "userSearch", @class = "form-control", @style = "margin-top:12px;", placeholder = "Søk (Mangler funksjon)" })

                </div>
            </div>
            <div>
                

                <div id="tullbal" class="panel panel-default partialView">
                    <table>
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(modelItem => Model[0].itemnumber)</b>
                            </td>
                            <td>
                                <b>@Html.DisplayNameFor(modelItem => Model[0].name)</b>
                            </td>
                            <td>
                                <b> @Html.DisplayNameFor(modelItem => Model[0].producer)</b>
                            </td>
                            <td>
                                <b> @Html.DisplayNameFor(modelItem => Model[0].price)</b>
                            </td>
                            <td>
                                <b> @Html.DisplayNameFor(modelItem => Model[0].volum)</b>
                            </td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr class="rows">
                                <td>
                                    @Html.DisplayFor(modelItem => item.itemnumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.producer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.volum)
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-default" style="margin-top:0px" type="submit"><span class="glyphicon glyphicon-pencil">@Html.ActionLink("Endre", "ProductDetails",  new { id = item.itemnumber })</span></button>
                                    <button class="btn btn-xs btn-default" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-align-justify"></i></button>
                                    <button class="btn btn-xs btn-danger" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
                            </tr>
                        }
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("ListProducts", new { page }))


                </div>

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {


    
        $("#categoryDrop").bind("change", function () {
            var $detailDiv = $('#tullbal');
            var url = "/Product/ListPartial/" + $("#categoryDrop").val();

            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });

        });
    })
</script>
