@model PagedList.IPagedList<Nettbutikk.admin.Models.ProductInfo>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList itemsPerPageList = DefaultValues.ItemsPerPageList;
}
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript">

    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("getResults", "Product")',
            minLength: 1,
            select: function (event, ui) {
                $("#txtSearch").submit();
            }
        });
    });
</script>

<div>
    <div class="jumbotron" style="padding-top:2px">
        <div class="container">

            <h3><span class="glyphicon glyphicon-user"></span> Produktoversikt </h3>
            <hr />
        <div class="menu_container">
            <div class="row">
                @using (Html.BeginForm("Search", "Product", FormMethod.Get, new { @class = "form-inline", @role = "form", @style = "margin-top:0px; padding-bottom:12px" }))
                {

                    <div class="col-sm-3 col-md-3" style="padding-right:0px">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.TextBox("searchString", null, new { id = "txtSearch", @class = "form-control", @style = "margin-top:12px;", placeholder = "Søk etter vare" })
                            </div>

                        </div>
                        <div class="input-group-btn pull-left">
                            <button class="btn btn-success" type="submit" style="width: 35px">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                }
                <div>
                    @using (Html.BeginForm("ListProducts", "Product", FormMethod.Post))
                    {
                        @Html.DropDownList("ItemsPerPage", itemsPerPageList, new { @id = "ItemsPerPageList", onchange = "this.form.submit();" })
                    }

                </div>
            </div>

            <div>
                <div id="tullbal" class="panel panel-default partialView">
                    <table>
                        <tr>
                            <td>
                                <b><a href="@Url.Action("ListProducts", new { sortOrder = ViewBag.ItemSortParm})">@Html.DisplayNameFor(modelItem => Model[0].itemnumber)</a></b>
                            </td>
                            <td>
                                <b><a href="@Url.Action("ListProducts", new { sortOrder = ViewBag.NameSortParm })">@Html.DisplayNameFor(modelItem => Model[0].name)</a></b>
                            </td>
                            <td>
                                <b><a href="@Url.Action("ListProducts", new { sortOrder = ViewBag.ProducerSortParm })"> @Html.DisplayNameFor(modelItem => Model[0].producer)</a></b>
                            </td>
                            <td>
                                <b><a href="@Url.Action("ListProducts", new { sortOrder = ViewBag.PriceSortParm })"> @Html.DisplayNameFor(modelItem => Model[0].price)</a></b>
                            </td>
                            <td>
                                <b> @Html.DisplayNameFor(modelItem => Model[0].volum)</b>
                            </td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr class="rows">
                                <td>
                                    @Html.DisplayFor(modelItem => item.itemnumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.producer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.volum)
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-default" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button class="btn btn-xs btn-default" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-align-justify"></i></button>
                                    <button class="btn btn-xs btn-danger" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
                            </tr>
                        }
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("ListProducts",new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CurrentSort }));


                </div>

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {


    
        $("#categoryDrop").bind("change", function () {
            var $detailDiv = $('#tullbal');
            var url = "/Product/ListPartial/" + $("#categoryDrop").val();

            $.get(url, function (data) {
                $detailDiv.replaceWith(data);
            });

        });
    })
</script>
