@model Nettbutikk.admin.Models.ProductDetail


@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

@using (Html.BeginForm("ProductDetails", "Product", FormMethod.Post, new { @class = "ajaxform" }))
{
    @Html.AntiForgeryToken()
<div class="jumbotron" style="padding-top:2px">
    <div class="path">
        <h5>
            <a href='@Url.Action("ListProducts")' id="prodPath"> Alle produkter</a> ><a href='@Url.Action("ProductDetails", "Product", new { id = Model.itemnumber })' id="prodPath"> @Html.DisplayFor(model => model.name) </a>
        </h5>
    </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form">
                        <h3>
                            <span class="glyphicon glyphicon-glass"></span>Oppdater produkt
                        </h3>
                        <div class="panel-default" id="formPanel">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h4>Varenummer @Html.DisplayFor(model => model.itemnumber)</h4>
                                        @Html.HiddenFor(model => model.itemnumber)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <small>@Html.LabelFor(model => model.name)</small>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Produkt" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <small>@Html.LabelFor(model => model.price) (kr)</small>
                                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Beskrivelse" } })
                                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <small>@Html.LabelFor(model => model.volum) (cl)</small>
                                        @Html.EditorFor(model => model.volum, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Beskrivelse" } })
                                        @Html.ValidationMessageFor(model => model.volum, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <small>@Html.LabelFor(model => model.producerid)</small>
                                        @Html.DropDownListFor(x => x.producerid, Model.producerList, new { @id = "producer", @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <small>@Html.LabelFor(model => model.description)</small>
                                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Beskrivelse" } })
                                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <small>@Html.LabelFor(model => model.longDescription)</small>
                                        @Html.TextAreaFor(model => model.longDescription, new { @class = "form-control", placeholder = "Lang beskrivelse", rows = 5, style = "resize:none; font-size: 9pt" })
                                        @Html.ValidationMessageFor(model => model.longDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <small>@Html.LabelFor(model => model.subCategoryid)</small>
                                        @Html.DropDownGroupListFor(m => m.subCategoryid, Model.subCategoryList, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <small>@Html.LabelFor(x => x.countryid)</small>
                                        @Html.DropDownListFor(x => x.countryid, Model.countryList, new { @id = "country", @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="Oppdater produkt" class="btn btn-success" style="margin-top: 10px" id="update" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
    
    
}

@Html.Partial("~/Views/Shared/_Modal.cshtml")