@model PagedList.IPagedList<Nettbutikk.admin.Models.OrderViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList itemsPerPageList = DefaultValues.ItemsPerPageList;
}

    <div class="jumbotron" style="padding-top:2px">
        @using(Html.BeginForm("ListOrders","Orders",FormMethod.Post))
        {
            @Html.DropDownList("ItemsPerPage", itemsPerPageList, new { @id = "ItemsPerPageList",onchange="this.form.submit();"})
        }
        <div class="row">

            <h3><span class="glyphicon glyphicon-align-justify"></span> Ordreoversikt </h3>

            <hr />

            <div class="panel panel-default">
                <table>
                    <tr>
                        <td>
                            <b><a href="@Url.Action("ListOrders", new { sortOrder = ViewBag.IDSortParm})">@Html.DisplayNameFor(modelItem => Model[0].id)</a></b>
                        </td>
                        <td>
                            <b><a href="@Url.Action("ListOrders", new { sortOrder = ViewBag.DateSortParm})">@Html.DisplayNameFor(modelItem => Model[0].orderdate)</a></b>
                        </td>
                        <td>
                            <b><a href="@Url.Action("ListOrders", new { sortOrder = ViewBag.CIDSortParm})">@Html.DisplayNameFor(modelItem => Model[0].customerid)</a></b>
                        </td>
                        <td>
                            <b><a href="@Url.Action("ListOrders", new { sortOrder = ViewBag.CFNameSortParm})">@Html.DisplayNameFor(modelItem => Model[0].firstname)</a></b>
                       </td>
                        <td>
                            <b><a href="@Url.Action("ListOrders", new { sortOrder = ViewBag.CLNameSortParm})">@Html.DisplayNameFor(modelItem => Model[0].lastname)</a></b>
                        </td>
                        
                        <td>
                            <b><a href="@Url.Action("ListOrders", new { sortOrder = ViewBag.AmountSortParm})">@Html.DisplayNameFor(modelItem => Model[0].quantity)</a></b>
                        </td>
                        <td>
                            <b><a href="@Url.Action("ListOrders", new { sortOrder = ViewBag.TotalSortParm})">@Html.DisplayNameFor(modelItem => Model[0].sum)</a></b>
                        </td>
                     
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="rows">
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.orderdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.customerid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.customer.firstname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.customer.lastname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sum)
                            </td>
                            <td>
                            <button class="btn btn-xs btn-default" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-list"></i>@Html.ActionLink("Se ordrelinje", "ListOrderLines", new { id = item.id})</button>
                            <button class="btn btn-xs btn-default" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-print"></i></button>
                            
                         </tr>
                    }
                </table>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ListOrders", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CurrentSort}));



            </div>
    </div>
</div>

