@model Nettbutikk.admin.Models.CustomerDetail
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="jumbotron" style="padding-top:2px">
        <div class="container">
            <div class="path">
                <h5>
                    <a href='@Url.Action("ListCustomers")' id="prodPath"> Alle brukere</a> > <a href='@Url.Action("CustomerDetails", "Customer", new { id = Model.id })' id="prodPath"> @Html.DisplayFor(model => model.firstname) @Html.DisplayFor(model => model.lastname)</a>
                </h5>
            </div>
   

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                   
                        <h3>
                            <span class="glyphicon glyphicon-user"></span>  @Html.DisplayFor(model => model.lastname),  @Html.DisplayFor(model => model.firstname)
                        </h3>

                        <div class="panel-default" id="formPanel">
                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h4>Kontrollpanel</h4>
                                        </div>
                                    </div>
                                <div class="col-md-12">
     
                                    <a href="@Url.Action("ListCustomerOrders", new { id = Model.id})" title="Endre" class="btn btn-primary" id="primaryButton">
                                        Se ordre  <span class="glyphicon glyphicon-align-justify"></span>  
                                    </a>
                                    @if (Model.admin == false)
                                    {
                                        using (Html.BeginForm("makeAdmin", "Customer", FormMethod.Post, new { @class = "ajaxform", style="display:inline" }))
                                        {
                                            @Html.AntiForgeryToken() 
                                        
                                            <button title="Gjør til admin" class="btn btn-primary ajaxform" id="ajaxform">
                                            Gjør til admin  <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-arrow-up"></span> 
                                            </button>
                                            @Html.Hidden("id", Model.id) 
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("revokeAdmin", "Customer", FormMethod.Post, new { @class = "ajaxform", style = "display:inline" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button title="Fjern som admin" class="btn btn-primary ajaxform" id="ajaxform">
                                            Fjern som admin  <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-arrow-down"></span> 
                                            </button>
                                            @Html.Hidden("id", Model.id)
                                        }
                                    }
@using (Html.BeginForm("deleteCustomer", "Customer", FormMethod.Post, new { @class = "ajaxdelete", style="display:inline" }))
{
    @Html.AntiForgeryToken()
                                    <a href="@Url.Action("deleteCustomer")" title="Slett" class="btn btn-danger ajaxdelete" id="@Model.id">
                                        Slett bruker  <span class="glyphicon glyphicon-trash"></span>
                                    </a>
}
                                </div>



                            </div>
                        </div>
 
@using (Html.BeginForm("CustomerDetails", "Customer", FormMethod.Post, new { @class = "ajaxform" }))
{
    @Html.AntiForgeryToken()
                             <form role="form">
                            <div class="panel-default" id="formPanel" style="padding-left: 10px; padding-right: 10px">
                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h4>Brukerdetaljer</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h5>Kundenummer @Html.DisplayFor(model => model.id)</h5>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-bottom:0px">
                                            <small>@Html.LabelFor(model => model.firstname)</small>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Fornavn", tabindex = "1", autofocus = "" } })
                                            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <small>@Html.LabelFor(model => model.lastname)</small>
                                            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Beskrivelse", tabindex = "1", autofocus = "" } })
                                            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <small>@Html.LabelFor(model => model.phonenumber)</small>
                                            @Html.EditorFor(model => model.phonenumber, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Telefonnummer", tabindex = "1", autofocus = "" } })
                                            @Html.ValidationMessageFor(model => model.phonenumber, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <small>@Html.LabelFor(model => model.email)</small>
                                       @Html.Raw(Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Produsent", tabindex = "3" } }))
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <small>@Html.LabelFor(model => model.address)</small>
                                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Beskrivelse", tabindex = "1", autofocus = "" } })
                                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <small>@Html.LabelFor(model => model.postalarea)</small>
                                        @Html.EditorFor(model => model.postalarea, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Poststed", tabindex = "3" } })
                                        @Html.ValidationMessageFor(model => model.postalarea, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <small>@Html.LabelFor(model => model.postalcode)</small>
                                        @Html.EditorFor(model => model.postalcode, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Postnummer", tabindex = "3" } })
                                        @Html.ValidationMessageFor(model => model.postalcode, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 20px">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" value="Endre bruker" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            </div>
</form>
}
                </div>
            </div>
        </div>
    </div>


@Html.Partial("~/Views/Shared/_Modal.cshtml")


