@model PagedList.IPagedList<Nettbutikk.admin.Models.UserInfo>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList itemsPerPageList = DefaultValues.ItemsPerPageList;
}
<link href="~/Content/Custom/MainSheet.css" rel="stylesheet" />

<div class="jumbotron" style="padding-top:2px">
    <div class="container">
        <div class="path">
            <h5>
                <a href='@Url.Action("ListCustomers")' id="prodPath"> Alle brukere</a>
            </h5>
        </div>


        <div id="menu_container">
            <h3>
                <span class="glyphicon glyphicon-user"></span> Brukeroversikt
            </h3>
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-sm-8 col-md-8" style="margin-top: 15px">
                    <div class="form-group">
                        @using (Html.BeginForm("ListCustomers", "Customer", FormMethod.Get, new { @class = "form-group", @role = "form" }))
                        {

                            <div class="input-group pull-left">
                                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { id = "txtSearch", @class = "form-control", placeholder = "Søk etter kunde" })
                            </div>
                            <div class="input-group-btn pull-left">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>



                        }
                    </div>
                </div>
               
            </div>
            <div>
                @using (Html.BeginForm("deleteCustomer", "Customer", FormMethod.Post, new { @class = "ajaxdelete" }))
                {
                    @Html.AntiForgeryToken()


                <div id="partView" class="panel panel-default partialView">
                    <table>
                        <tr>
                            <td>
                                <b><a href="@Url.Action("ListCustomers", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })">@Html.DisplayNameFor(modelItem => Model[0].id)</a></b>
                            </td>
                            <td>
                                <b><a href="@Url.Action("ListCustomers", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.FirstNameSortParm, currentFilter = ViewBag.CurrentFilter })">@Html.DisplayNameFor(modelItem => Model[0].firstname)</a></b>
                            </td>
                            <td>
                                <b><a href="@Url.Action("ListCustomers", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.LastNameSortParm, currentFilter = ViewBag.CurrentFilter })">@Html.DisplayNameFor(modelItem => Model[0].lastname)</a></b>
                            </td>
                            <td>
                                <b><a href="@Url.Action("ListCustomers", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.AddressSortParm, currentFilter = ViewBag.CurrentFilter })">@Html.DisplayNameFor(modelItem => Model[0].address)</a></b>
                            </td>
                            <td>
                                <b><a href="@Url.Action("ListCustomers", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.EMailSortParm, currentFilter = ViewBag.CurrentFilter})">@Html.DisplayNameFor(modelItem => Model[0].email)</a></b>
                            </td>
                            <td>
                                <b><a href="@Url.Action("ListCustomers", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.PostAreaSortParm, currentFilter = ViewBag.CurrentFilter })">@Html.DisplayNameFor(modelItem => Model[0].postalarea)</a></b>
                            </td>
                            <td>
                                <b><a href="@Url.Action("ListCustomers", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.PostCodeSortParm, currentFilter = ViewBag.CurrentFilter })">@Html.DisplayNameFor(modelItem => Model[0].postalcode)</a></b>
                            </td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr class="rows">
                                <td>
                                    @Html.DisplayFor(modelItem => item.id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.firstname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lastname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.postalarea)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.postalcode)
                                </td>
                                <td class="pull-right" style="margin-top: 3px">
                                    <a href="@Url.Action("CustomerDetails", new { id = item.id })" title="Endre" class="btn btn-xs btn-default" id="defaultButton">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                        <!-- <button class="btn btn-xs btn-default" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-align-justify"></i>@Html.ActionLink("Se ordre", "ListCustomerOrders", new { id = item.id }) </button>-->
                                        <a href="@Url.Action("deleteCustomer", new {id = item.id})" title="Delete" class="btn btn-xs btn-danger ajaxdelete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>


</tr>
                        }
                    </table>
                </div>
                }

                <div style="margin-left:10px">
                    <div class="row">
                        <div class=" col-sm-12 col-md-12">
                            @Html.PagedListPager(Model, page => Url.Action("ListCustomers", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                    </div>

                    @using (Html.BeginForm("ListCustomers", "Customer", FormMethod.Post))
                    {
                        <small>Antall per side:</small> @Html.DropDownList("ItemsPerPage", itemsPerPageList, new { @id = "ItemsPerPageList", onchange = "this.form.submit();", style = "margin-bottom: 0px" })
                        @Html.Hidden("sortOrder", new { ViewBag.CurrentSort})
                    }
                </div>
            </div>
        </div>
    </div>
 </div>



@Html.Partial("~/Views/Shared/_Modal.cshtml")