@model List<Nettbutikk.Model.Customer>
@{
    ViewBag.Title = "ListCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Custom/MainSheet.css" rel="stylesheet" />
<div>
    <div class="jumbotron" style="padding-top:2px">
        <div class="container">

            <h3><span class="glyphicon glyphicon-user"></span> Brukeroversikt </h3>
            <hr />

            <table>
                <tr>
                    
                    <td>
                        <b>@Html.DisplayNameFor(modelItem => Model[0].firstname)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayNameFor(modelItem => Model[0].lastname)</b>
                    </td>
                    <td>
                        <b> @Html.DisplayNameFor(modelItem => Model[0].address)</b>
                    </td>
                    <td>
                        <b> @Html.DisplayNameFor(modelItem => Model[0].email)</b>
                    </td>
                    <td>
                        <b> @Html.DisplayNameFor(modelItem => Model[0].postalarea)</b>
                    </td>
                    <td>
                        <b> @Html.DisplayNameFor(modelItem => Model[0].postalcode)</b>
                    </td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="rows">
                            <td>
                                @Html.DisplayFor(modelItem => item.firstname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lastname)
                            </td>
                           <td>
                            @Html.DisplayFor(modelItem => item.address)
                           </td>
                           <td>
                            @Html.DisplayFor(modelItem => item.email)
                           </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.postalarea)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.postalcode)
                            </td>
                            <td>
                                <button class="btn btn-xs btn-primary" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-pencil"></i></button>
                                
                            </td>
                             <td>
                                 <button class="btn btn-xs btn-warning"  style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-align-justify"></i></button>
                            </td>

                            <td>
                                <button class="btn btn-xs btn-danger" style="margin-top:0px" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>

                        
                    </tr>
                }
            </table>



        </div>
    </div>
</div>


