@model List<Nettbutikk.admin.Models.OrderViewModel>

@{
    ViewBag.Title = "Customers Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="jumbotron" style="padding-top:2px">
    <div class="path">
        <h5>
            <a href='@Url.Action("ListCustomers")' id="prodPath"> Alle brukere</a> > <a href='@Url.Action("CustomerDetails", "Customer", new { id = Model[0].customer.id })' id="prodPath"> @Html.DisplayFor(model => Model[0].customer.firstname) @Html.DisplayFor(model => Model[0].customer.lastname)</a> > <a href='@Url.Action("ListCustomerOrders", "Customer", new { id = Model[0].customer.id })' id="prodPath"> Ordreoversikt</a>
        </h5>
    </div>
    <div class="row">

        <h3><span class="glyphicon glyphicon-align-justify"></span> Ordreoversikt for @Html.DisplayFor(modelItem => Model[0].customer.lastname), @Html.DisplayFor(modelItem => Model[0].customer.firstname)  </h3>

        <hr />

        <div id="partView"class="panel panel-default">
            <table>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(modelItem => Model[0].id)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayNameFor(modelItem => Model[0].orderdate)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayNameFor(modelItem => Model[0].customerid)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayNameFor(modelItem => Model[0].firstname)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayNameFor(modelItem => Model[0].lastname)</b>
                    </td>

                    <td>
                        <b>@Html.DisplayNameFor(modelItem => Model[0].quantity)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayNameFor(modelItem => Model[0].sum)</b>
                    </td>

                </tr>
                @foreach (var item in Model)
                {
                    <tr class="rows">
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.orderdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customerid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customer.firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customer.lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sum)
                        </td>
                        <td class="pull-right">
                            <a href="@Url.Action("ListCustomersOrderLines", "Customer", new { id = item.id })" title="Vis ordrelinje" class="btn btn-xs btn-default" id="defaultButton">
                                <span class="glyphicon glyphicon-list"></span>
                            </a>
                            <a href="@Url.Action("showReceipt", "Order", new { id = item.id })" title="Vis kvittering" class="btn btn-xs btn-default" id="defaultButton">
                                <span class="glyphicon glyphicon-print"></span>
                            </a>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>