@model PagedList.IPagedList<Nettbutikk.admin.Models.OrderViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Customers Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList itemsPerPageList = DefaultValues.ItemsPerPageList;
}

<div class="jumbotron" style="padding-top:2px">
    <div class="path">
        <h5>
            <a href='@Url.Action("ListCustomers")' id="prodPath"> Alle brukere</a> > <a href='@Url.Action("CustomerDetails", "Customer", new { id = Model[0].customer.id })' id="prodPath"> @Html.DisplayFor(model => Model[0].customer.firstname) @Html.DisplayFor(model => Model[0].customer.lastname)</a> > <a href='@Url.Action("ListCustomerOrders", "Customer", new { id = Model[0].customer.id })' id="prodPath"> Ordreoversikt</a>
        </h5>
    </div>
    <div class="row">

        <h3><span class="glyphicon glyphicon-align-justify"></span> Ordreoversikt for @Html.DisplayFor(modelItem => Model[0].customer.lastname), @Html.DisplayFor(modelItem => Model[0].customer.firstname)  </h3>

        <hr />

        <div id="partView"class="panel panel-default">
            <table>
                <tr>
                    <td>
                        <b><a href="@Url.Action("ListCustomerOrders", new { sortOrder = ViewBag.IDSortParm})">@Html.DisplayNameFor(modelItem => Model[0].id)</a></b>
                    </td>
                    <td>
                        <b><a href="@Url.Action("ListCustomerOrders", new { sortOrder = ViewBag.DateSortParm })">@Html.DisplayNameFor(modelItem => Model[0].orderdate)</a></b>
                    </td>
                    <td>
                        <b><a href="@Url.Action("ListCustomerOrders", new { sortOrder = ViewBag.CIDSortParm })">@Html.DisplayNameFor(modelItem => Model[0].customerid)</a></b>
                    </td>
                    <td>
                        <b><a href="@Url.Action("ListCustomerOrders", new { sortOrder = ViewBag.CFNameSortParm })">@Html.DisplayNameFor(modelItem => Model[0].firstname)</a></b>
                    </td>
                    <td>
                        <b><a href="@Url.Action("ListCustomerOrders", new { sortOrder = ViewBag.CLNameSortParm })">@Html.DisplayNameFor(modelItem => Model[0].lastname)</a></b>
                    </td>

                    <td>
                        <b><a href="@Url.Action("ListCustomerOrders", new { sortOrder = ViewBag.AmountSortParm })">@Html.DisplayNameFor(modelItem => Model[0].quantity)</a></b>
                    </td>
                    <td>
                        <b><a href="@Url.Action("ListCustomerOrders", new { sortOrder = ViewBag.TotalSortParm })">@Html.DisplayNameFor(modelItem => Model[0].sum)</a></b>
                    </td>

                </tr>
                @foreach (var item in Model)
                {
                    <tr class="rows">
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.orderdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customerid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customer.firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customer.lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sum)
                        </td>
                        <td class="pull-right">
                            <a href="@Url.Action("ListCustomersOrderLines", "Customer", new { id = Model[0].id })" title="Vis ordrelinje" class="btn btn-xs btn-default" id="defaultButton">
                                <span class="glyphicon glyphicon-list"></span>
                            </a>
                            <a href="@Url.Action("showReceipt", "Order", new { id = Model[0].id })" title="Vis kvittering" class="btn btn-xs btn-default" id="defaultButton">
                                <span class="glyphicon glyphicon-print"></span>
                            </a>
                    </tr>
                }
            </table>

        </div>
        @Html.PagedListPager(Model, page => Url.Action("ListCustomerOrders","Customer", new {Model[0].id, page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CurrentSort }))

        @using (Html.BeginForm("ListCustomerOrders", "Customer", FormMethod.Post))
        {
            <small>Antall per side:</small> @Html.DropDownList("ItemsPerPage", itemsPerPageList, new { @id = "ItemsPerPageList", onchange = "this.form.submit();", style = "margin-bottom: 0px" })
        }


    </div>
</div>