@model Nettbutikk.admin.Models.LogIn
@{
    ViewBag.Title = "LogIn";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron" style="padding-top:2px">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="formTitle" style="margin-left:0px">
                        <h3><span class="glyphicon glyphicon-user"></span>  Logg Inn</h3>
                    </div>
                    <div class="panel-default" id="formPanel" style="width:50%">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "email", tabindex = "1", autofocus = "" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <input type="password" @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "password", tabindex = "1", autofocus = "" } })
                                               @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm" id="primaryButton" tabindex="3" style="margin-top: 10px">
                                Logg inn  <span class="glyphicon glyphicon-log-in"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    


