@model Nettbutikk.Models.Customer

@{
    ViewBag.Title = "Min Side";
}


<div>

    <h1> Velkommen, @Html.DisplayFor(model => model.email)  </h1>


    <table class="table">
        <tr>
            <th> @Html.ActionLink("Endre brukerinfo", "updateUserinfo","Customer")</th>
            <th> @Html.ActionLink("Endre Passord", "updateUserPassword","Customer")</th>
            <th>@Html.ActionLink("Se tidligere ordre","","")e</th>
            <th> @Html.ActionLink("endre i handlekurv", "","")</th>
        </tr>
        
    </table>

    @if (TempData["pview"].Equals("info"))
    {
        @Html.Partial("updateUserinfo", Model);
    }
    else if (TempData["pview"].Equals("password"))
    {
        @Html.Partial("updateUserPassword", Model);
    }

</div>
