@model Nettbutikk.Models.Customer

@{
    ViewBag.Title = "Min Side";
}


<div>
    <div class="jumbotron">
        <div class="container" >
            <div class="row">

                <h3><span class="glyphicon glyphicon-user"> Velkommen, @Html.DisplayFor(model => model.email)</span>  </h3>

<hr />
                <table class="table">
                    <tr>
                        <th> @Html.ActionLink("Endre brukerinfo", "updateUserinfo", "Customer")</th>
                        <th> @Html.ActionLink("Endre Passord", "updateUserPassword", "Customer")</th>
                        <th>@Html.ActionLink("Se tidligere ordre", "", "")</th>
                        <th> @Html.ActionLink("endre i handlekurv", "", "")</th>
                    </tr>
                
                </table>
  
                @if (TempData["changed"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["changed"]
                    </div>
                }

                        @if (TempData["pview"].Equals("info"))
                {
                            @Html.Partial("updateUserinfo", Model);

                }
                else if (TempData["pview"].Equals("password"))
                {
                    @Html.Partial("updateUserPassword", Model);
                }

                    </div>
        </div>
    </div>
</div>
