@model IEnumerable<Nettbutikk.Models.Order>
<link rel="shortcut icon" href="~/Content/img/logo/snublevann_liten_mork.ico">
<div class="panel panel-default userpanel">
    <div class="container">
        <h3>
            <span class="glyphicon glyphicon-align-justify"></span> Min ordrehistorikk
        </h3>
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.orderdate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.orderdate)
                    </td>
                    <td>
                        @using (Html.BeginForm("checkout", "ShoppingCart"))
                        {
                            @Html.HiddenFor(modelItem => item.id)
                            @Html.HiddenFor(modelItem => item.orderdate)
                            <input type="hidden" name="viewOrder" value="true"  />
                             <u> @Html.ActionLink("Se ordre", "checkout", "ShoppingCart", item, new { target="_blank" })</u>
                        }
                    </td>

                </tr>

            }
        </table>
     </div>   
</div>

