<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produkter</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.9.0.js"></script>




</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Produktoversikt", "ListProducts", "Product", new { tom = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Produktliste","ListProducts","Product")</li>
                    <li>@Html.ActionLink("Nytt product","AddProduct","Product")</li>
                    <li>@Html.ActionLink("Kategori", "Category", "Product")</li>
                    <li>@Html.ActionLink("Registrer", "RegisterUser", "Customer")</li>
                    <li>@Html.ActionLink("Logg Inn", "Index", "User")</li>
                    <li>
                        <form method="get" action="@Url.Action("Search", "SearchProduct", "Search")">
                            <label for="search">Search</label>
                            <input type="text" name="search" id="search" />
                            <button type="submit">Søk</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <div class="panel panel-default pull-left">
        <div class="panel-body">
            <div class="pull-left">
                @Html.ActionLink("Kategori", "Category", "Category")  <br />
                Om bedriften <br />
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy;@DateTime.Now.Year - Gruppe 12345</p>
        </footer>
    </div>
</body>
</html>