<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Custom/SideMenu.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.0.min.map"></script>
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/Custom/Collapse.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#txtSearch").autocomplete({
                source: '@Url.Action("getResults", "Product")',
                minLength: 1,
                select: function(event, ui)
                {
                    $("#txtSearch").submit();
                }
            });
        });
    </script>

            
   

</head>
<body>

    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Alkohol Mekka", "Frontpage", "Main", new { tom = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">
                    
                    @if(Session["loggedInUser"] == null)
                    {
                        <li>@Html.ActionLink("Registrer", "Register", "Customer")</li>
                        <li>@Html.ActionLink("Logg Inn", "LogIn", "Customer", new { href="#login",data_toggle = "modal" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Handlekurv", "viewShoppingCart","ShoppingCart")</li>
                        <li>@Html.ActionLink("MinSide", "PersonalSite", "Customer")</li>   
                        <li>@Html.ActionLink("Logg ut", "LogOut", "Customer")</li> 
                    }
                    
                </div>
                        @using (Html.BeginForm("Search", "Product", FormMethod.Get))
                        {
                                <div class="input-group">
                                    @Html.TextBox("searchString", null, new { id = "txtSearch", @class = "form-control" })
                                    <div class="input-group-btn">
                                        <button class="btn btn-success pull-left" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                        } 
         </div>
        </div>
    </div>
    <br/>
        -->
    <div class="container">
        <div class="row">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Alkohol Mekka", "Frontpage", "Main", new { tom = "" }, new { @class = "navbar-brand" })
                   
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="col-sm-5 col-md-5">
                                @Html.BeginForm("Search", "Product", FormMethod.Get))
                                {
                                    <div class="input-group">
                                        @Html.TextBox("searchString", null, new { id = "txtSearch", @class = "form-control", placeholder = "Søk etter vare..." })
                                        <div class="input-group-btn">
                                            <button class="btn btn-success pull-left" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                }
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Session["loggedInUser"] == null)
                        {
                            <li>@Html.ActionLink("Registrer", "Register", "Customer")</li>
                            <li><a href="#LoginModal" id="loginBtn" data-login="true" data-toggle="modal">Logg Inn</a></li>
                            //<li>@Html.ActionLink("Logg Inn", "LogIn", "Customer")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Handlekurv", "viewShoppingCart", "ShoppingCart")</li>
                            <li>@Html.ActionLink("MinSide", "PersonalSite", "Customer")</li>
                            <li>@Html.ActionLink("Logg ut", "LogOut", "Customer")</li>
                        }
                    </ul>
                </div>
                </div>
            </div>
        </div>


    <div class="panel panel-default pull-left" style="position:fixed">
        <div class="panel-body">
            <div class="pull-left">
                <div id="menu_container">
                    <div id="accordion">
                        <h4>Kategori:</h4>
                        <div class="item pull-left" id="Subcategory">
                            <a href='@Url.Action("ListProducts", "Product", new { id = 1 })' class="sub">Øl</a>
                            <a href="#">Overgjæret</a>
                            <a href="#">Undergjæret</a>
                        </div>
                    </div>
                    <div id="accordion">
                        <div class="item" id="Subcategory" >
                            <a href='@Url.Action("ListProducts", "Product", new { id = 2 })' class="sub">Rødvin</a>
                            <a href="#">Tørr</a>
                            <a href="#">Søt</a>
                        </div>
                    </div>
                    <div id="accordion">
                        <div class="item" id="Subcategory">
                            <a href='@Url.Action("ListProducts", "Product", new { id = 3 })' class="sub">Hvitvin</a>
                            <a href="#">Matvin</a>
                            <a href="#">Drikkevin</a>
                        </div>
                    </div>
                    <div id="accordion">
                        <div class="item" id="Subcategory">
                            <a href='@Url.Action("ListProducts", "Product", new { id = 4 })' class="sub">Brennevin</a>
                            <a href="#">Vodka</a>
                            <a href="#">Rom</a>
                            <a href="#">Cognac</a>
                            <a href="#">Wiskey</a>
                            <a href="#">Diverse</a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div id="accordion">
                        <div class="item" id="Subcategory">
                            <a href='@Html.ActionLink("Om oss", "About", "About")' class="sub">Om Oss</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
            
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy;@DateTime.Now.Year - Gruppe 12345</p>
        </footer>
    </div>
    @Html.Partial("~/Views/Customer/LoginModal.cshtml")
</body>
</html>


<!--
<a href='@Url.Action("ListProducts", "Product", new { id = 3 })' class="sub">Hvitvin</a>
<a href='@Url.Action("ListProducts", "Product", new { id = 2 })' class="sub">Rødvin</a>
<a href='@Url.Action("ListProducts", "Product", new { id = 1 })' class="sub">Øl</a>
<a href='@Url.Action("ListProducts", "Product", new { id = 4 })' class="sub">Brennevin</a>
    -->s
