<!DOCTYPE html>
<html>
<head>
    <title>Default</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Custom/MainSheet.css" rel="stylesheet" />
    <link href="~/Content/Custom/SideMenu.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.min.js"
            type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-latest.js"
            type="text/javascript"></script>
    <script src="~/Scripts/Custom/Collapse.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/Custom/customNav.css" rel="stylesheet" /> 
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Custom/Login.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#txtSearch").autocomplete({
                source: '@Url.Action("getResults", "Product")',
                minLength: 1,
                select: function(event, ui)
                {
                    $("#txtSearch").submit();
                }
            });
        });
    </script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>







            
   

</head>
<body>
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
            <div class="navbar navbar-inner" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>          
                </div>
                <div class="row">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                               <img src="~/Content/img/snublevann.png" width="500" height="96" style="margin-top: 20px; margin-left: 20px" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <ul class="nav navbar-nav navbar-right">
                                        @if (Session["loggedInUser"] == null)
                                        {
                                            <li>@Html.ActionLink("Registrer", "Register", "Customer")</li>
                                            <li><a href="#LoginModal" id="loginBtn" data-login="true" data-toggle="modal">Logg Inn</a></li>
                                            //<li>@Html.ActionLink("Logg Inn", "LogIn", "Customer")</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Handlekurv", "viewShoppingCart", "ShoppingCart")</li>
                                            <li>@Html.ActionLink("MinSide", "PersonalSite", "Customer")</li>
                                            <li>@Html.ActionLink("Logg ut", "LogOut", "Customer")</li>
                                        }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default pull-left" style="position:absolute; margin-top:0px; background:#180d00; border: 0">
                    <div class="panel-body">
                        <div class="pull-left">
                            <div id="menu_container">
                                <div id="accordion">
                                    <div class="fb-like" data-href="https://www.facebook.com/snublevann" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                                    @using (Html.BeginForm("Search", "Product", FormMethod.Get, new { @class = "form-inline", @role = "form", @style="margin-top:0px; padding-bottom:12px" }))
                                    {
                                        <div class="row">
                                            <div class="col-sm-9 col-md-9" style="padding-right:0px">
                                                <div class="form-group">
                                                    <div class="input-group">

                                                        @Html.TextBox("searchString", null, new { id = "txtSearch", @class = "form-control", @style = "margin-top:12px", placeholder = "Søk etter vare..." })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group-btn pull-left">
                                                <button class="btn btn-success" type="submit" style="background-color:#a5862c; border-color:#a5862c">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    <h4>Kategori</h4>
                                    <div class="item pull-left" id="Subcategory">
                                        <a class="sub">Øl</a>
                                        <a href='@Url.Action("ListProducts", "Product", new { id = 1 })'> All Øl</a>
                                        <a href='@Url.Action("ListProducts", "Product", new { id = 1, tull = ""})'>Overgjæret</a>
                                        <a href='@Url.Action("ListProducts", "Product", new { subCategory = 2 })'>Undergjæret</a>
                                        <a href='@Url.Action("ListProducts", "Product", new { id = 1 , tull = 3})'>Spontangjæret</a>
                                    </div>
                                </div>
                                <div id="accordion">
                                    <div class="item" id="Subcategory">
                                        <a class="sub">Rødvin</a>
                                        <a href='@Url.Action("ListProducts", "Product", new { id = 2 })'> All Rødvin</a>
                                        <a href="#">Tørr</a>
                                        <a href="#">Søt</a>
                                    </div>
                                </div>
                                <div id="accordion">
                                    <div class="item" id="Subcategory">
                                        <a class="sub">Hvitvin</a>
                                        <a href='@Url.Action("ListProducts", "Product", new { id = 3 })'> All Hvitvin</a>
                                        <a href="#">Matvin</a>
                                        <a href="#">Drikkevin</a>
                                    </div>
                                </div>
                                <div id="accordion">
                                    <div class="item" id="Subcategory">
                                        <a class="sub">Brennevin</a>
                                        <a href='@Url.Action("ListProducts", "Product", new { id = 4 })'> All Brennevin</a>
                                        <a href="#vodka">Vodka</a>
                                        <a href="#">Rom</a>
                                        <a href="#">Cognac</a>
                                        <a href="#">Wiskey</a>
                                        <a href="#">Diverse</a>
                                    </div>
                                </div>
                                <div id="accordion">
                                    <div class="item" id="Subcategory">
                                        <a class="sub">Musserende</a>
                                        <a href='@Url.Action("ListProducts", "Product", new { id = 5 })'> All Musserende</a>
                                        <a href="#champ">Champagne</a>
                                        <a href="#">Cava</a>
                                        <a href="#">Prosecco</a>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div id="accordion">
                                    <div class="item" id="Subcategory">
                                        <a href='@Html.ActionLink("Om oss", "About", "About")' class="sub">Om Oss</a>
                                    </div>
                                </div>
                                
                
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
            <hr />
            <footer>
                <p>&copy;@DateTime.Now.Year - Gruppe 12345</p>
            </footer>
        </div>

    @Html.Partial("~/Views/Customer/LoginModal.cshtml")
</body>

</html>


<!--
<a href='@Url.Action("ListProducts", "Product", new { id = 3 })' class="sub">Hvitvin</a>
<a href='@Url.Action("ListProducts", "Product", new { id = 2 })' class="sub">Rødvin</a>
<a href='@Url.Action("ListProducts", "Product", new { id = 1 })' class="sub">Øl</a>
<a href='@Url.Action("ListProducts", "Product", new { id = 4 })' class="sub">Brennevin</a>
    -->
