@model PagedList.IPagedList<Nettbutikk.admin.Models.CategoryInfo>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ListCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="jumbotron" style="padding-top:2px">
        <div class="path">
            <h5>
                <a href='@Url.Action("ListProducts", "Product")' id="prodPath"> Alle produkter</a> > <a href='@Url.Action("ListCategories")' id="prodPath"> Kategorier</a>
            </h5>
        </div>
        <div class="container">


            <div id="menu_container">
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-sm-8 col-md-8">
                        <h3>
                            <span class="glyphicon glyphicon-glass"></span> Kategorier
                        </h3>
                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-top: 9px">

                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-top: 15px; padding-left: 30px">

                        <a href="@Url.Action("newCategory")" class="btn btn-primary" id="primaryButton">
                            <span class="glyphicon glyphicon-plus"></span> Ny kategori
                        </a>


                    </div>
                </div>
@using (Html.BeginForm("deleteCategory", "Category", FormMethod.Post, new { @class = "ajaxdelete" })){
    @Html.AntiForgeryToken()
                <div>
                    <div id="partView" class="panel panel-default partialView">
                        <table>
                            <tr>
                                <td>
                                    <b><a href="@Url.Action("ListProducts", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter})">@Html.DisplayNameFor(modelItem => Model[0].id)</a></b>
                                </td>
                                <td>
                                    <b><a href="@Url.Action("ListProducts", new { sortOrder = ViewBag.CatSortParm , currentFilter = ViewBag.CurrentFilter})">@Html.DisplayNameFor(modelItem => Model[0].name)</a></b>
                                </td>
                            </tr>

                            @foreach (var item in Model)
                            {
                               

                                <tr class="rows">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td class="pull-right" style="margin-top: 2px">
                                        <a href="@Url.Action("updateCatergoryDetails", new { id = item.id })" title="Endre" class="btn btn-xs btn-default" id="defaultButton">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>

                   
                                    <a href="@Url.Action("DeleteCategory")" id="@item.id" class="btn btn-xs btn-danger ajaxdelete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                             
                                </td>
 
                                </tr>
                            }
                            
                        </table>
                    </div>

                </div>
}
            </div>

            <div style="margin-left:10px">
                <div class="row">
                    <div class=" col-sm-12 col-md-12">
                        @Html.PagedListPager(Model, page => Url.Action("ListProducts", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_Modal.cshtml")

