@model PagedList.IPagedList<Nettbutikk.admin.Models.SubCategoryInfo>

@{
    ViewBag.Title = "ListSubCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="jumbotron" style="padding-top:2px">
        <div class="path">
            <h5>
                <a href='@Url.Action("ListProducts", "Product")' id="prodPath"> Alle produkter</a> > <a href='@Url.Action("ListSubCategories")' id="prodPath"> Underkategorier</a>
            </h5>
        </div>
        <div class="container">
            <div id="menu_container">
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-sm-8 col-md-8">
                        <h3>
                            <span class="glyphicon glyphicon-th"></span> Underkategorier
                        </h3>
                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-top: 9px">

                    </div>
                    <div class="col-sm-2 col-md-2 pull-right" style="margin-top: 10px; margin-right: 18px">

                        <a href="@Url.Action("newSubCategory")" class="btn btn-primary" id="primaryButton">
                            <span class="glyphicon glyphicon-plus"></span> Ny underkategori
                        </a>
                    </div>
                </div>
@using (Html.BeginForm("DeleteSubCategory", "Category", FormMethod.Post, new { @class = "ajaxdelete" })){
    @Html.AntiForgeryToken()
                <div>
                    <div id="partView" class="panel panel-default partialView">
                        <table>
                            <tr>
                                <td>
                                    <b><a href="@Url.Action("ListSubCategories", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })">@Html.DisplayNameFor(modelItem => Model[0].ID)</a></b>
                                </td>
                                <td>
                                    <b><a href="@Url.Action("ListSubCategories", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })">@Html.DisplayNameFor(modelItem => Model[0].name)</a></b>
                                </td>
                                <td>
                                    <b><a href="@Url.Action("ListSubCategories", new { itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CatNameSortParm, currentFilter = ViewBag.CurrentFilter })">@Html.DisplayNameFor(modelItem => Model[0].categoriesName)</a></b>
                                </td>
                            </tr>
                          

                            @foreach (var item in Model)
                            {
                                <tr class="rows">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.categoriesName)
                                    </td>
                                    <td class="pull-right" style="margin-top: 3px">
                                        <a href="@Url.Action("SubCatDetails", new { id = item.ID })" title="Endre" class="btn btn-xs btn-default" id="defaultButton">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>

                                    <a href="@Url.Action("deleteSubCategory")" id="@item.ID" class="btn btn-xs btn-danger ajaxdelete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                </td>
                                        
                                </tr>
                            }
                        </table>
                    </div>

                </div>
}
            </div>

            <div style="margin-left:10px">
                <div class="row">
                    <div class=" col-sm-12 col-md-12">
                        @Html.PagedListPager(Model, page => Url.Action("ListSubCategories", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_Modal.cshtml")
