@model PagedList.IPagedList<Nettbutikk.admin.Models.ProducerInfo>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ListCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="jumbotron" style="padding-top:2px">
        <div class="path">
            <h5>
                <a href='@Url.Action("ListProducts", "Product")' id="prodPath"> Alle produkter</a> > <a href='@Url.Action("ListProducers")' id="prodPath"> Produsenter</a>
            </h5>
        </div>
        <div class="container">


            <div id="menu_container">
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-sm-8 col-md-8">
                        <h3>
                            <span class="glyphicon glyphicon-registration-mark"></span> Produsenter
                        </h3>
                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-top: 9px">

                    </div>
                    <div class="col-sm-2 col-md-2 pull-right" style="margin-top: 15px; ">

                        <a href="@Url.Action("AddProducer")" class="btn btn-primary" id="primaryButton">
                            <span class="glyphicon glyphicon-plus"></span> Ny produsent
                        </a>


                    </div>
                </div>
@using (Html.BeginForm("DeleteProducer", "Category", FormMethod.Post, new { @class = "ajaxdelete" })) {

    @Html.AntiForgeryToken()
                <div>
                    <div id="partView" class="panel panel-default partialView">
                        <table>
                            <tr>
                                <td>
                                    <b><a href="@Url.Action("ListProducers", new { sortOrder = ViewBag.ItemSortParm, currentFilter = ViewBag.CurrentFilter})">@Html.DisplayNameFor(modelItem => Model[0].prodId)</a></b>
                                </td>
                                <td>
                                    <b><a href="@Url.Action("ListProducers", new { sortOrder = ViewBag.NameSortParm , currentFilter = ViewBag.CurrentFilter})">@Html.DisplayNameFor(modelItem => Model[0].prodName)</a></b>
                                </td>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr class="rows">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prodId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prodName)
                                    </td>
                                    <td class="pull-right" style="margin-top: 2px">
                                        <a href="@Url.Action("ProductDetails", new { id = item.prodId })" title="Endre" class="btn btn-xs btn-default" id="defaultButton">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>

                                            <a href="@Url.Action("deleteProducer")" id="@item.prodId" class="btn btn-xs btn-danger ajaxdelete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                </tr>
                                
                            }
                        </table>
                    </div>

                </div>
}
            </div>

            <div style="margin-left:10px">
                <div class="row">
                    <div class=" col-sm-12 col-md-12">
                        @Html.PagedListPager(Model, page => Url.Action("ListProducers", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_Modal.cshtml")