@model PagedList.IPagedList<Nettbutikk.admin.Models.ProducerInfo>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ListCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="jumbotron" style="padding-top:2px">
        <div class="container">
            <h3>
                <span class="glyphicon glyphicon-glass"></span> Kategorier
            </h3>

            <div id="menu_container">
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-sm-8 col-md-8">
                        <div class="form-group">
                            @using (Html.BeginForm("ListProducts", "Product", FormMethod.Get, new { @class = "form-group", @role = "form" }))
                            {

                                <div class="input-group pull-left">
                                    @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { id = "txtSearch", @class = "form-control", placeholder = "Søk" })
                                </div>
                                <div class="input-group-btn pull-left">
                                    <button class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-top: 9px">

                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-top: 15px; padding-left: 30px">

                        <a href="@Url.Action("newCategory")" class="btn btn-primary" id="primaryButton">
                            <span class="glyphicon glyphicon-plus"></span> Ny kategori
                        </a>


                    </div>
                </div>

                <div>
                    <div id="partView" class="panel panel-default partialView">
                        <table>
                            <tr>
                                <td>
                                    <b><a href="@Url.Action("ListProducers", new { sortOrder = ViewBag.ItemSortParm, currentFilter = ViewBag.CurrentFilter})">@Html.DisplayNameFor(modelItem => Model[0].prodId)</a></b>
                                </td>
                                <td>
                                    <b><a href="@Url.Action("ListProducers", new { sortOrder = ViewBag.NameSortParm , currentFilter = ViewBag.CurrentFilter})">@Html.DisplayNameFor(modelItem => Model[0].prodName)</a></b>
                                </td>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr class="rows">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prodId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prodName)
                                    </td>
                                    <td class="pull-right">
                                        <a href="@Url.Action("ProductDetails", new { id = item.prodId })" title="Endre" class="btn btn-xs btn-default" id="defaultButton">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <a href="@Url.Action("ProductDetails", new { id = item.prodName})" title="Slett" class="btn btn-xs btn-danger" id="dangerButton">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                </tr>
                            }
                        </table>
                    </div>

                </div>
            </div>

            <div style="margin-left:10px">
                <div class="row">
                    <div class=" col-sm-12 col-md-12">
                        @Html.PagedListPager(Model, page => Url.Action("ListProducts", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

