@model Nettbutikk.admin.Models.CategoryInfo
@{
    ViewBag.Title = "updateCategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#verify').keyup(function () {
            if ($(this).val() == $('#password').val()) {
                $('#verifynote').addClass('hidden');
            }
            else {
                $('#verifynote').removeClass('hidden');
            }
        });

    });

</script>

@using (Html.BeginForm("updateCatergoryDetails", "Category", FormMethod.Post, new { @class = "ajaxform" }))
{
    @Html.AntiForgeryToken()
    <div class="jumbotron" style="padding-top:2px">
        <div class="path">
            <h5>
                <a href='@Url.Action("ListProducts", "Product")' id="prodPath"> Alle produkter</a> >
                <a href='@Url.Action("ListCategories")' id="prodPath"> Kategorier</a> >
                <a href='@Url.Action("updateCatergoryDetails", new { id = Model.id }))' id="prodPath"> Endre kategori</a>
            </h5>
        </div>

        <div class="container">

            <div class="row">
                <div class="formTitle">
                    <h2><span class="glyphicon glyphicon-glass"></span>Endre kategori</h2>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Kategori", tabindex = "1", autofocus = "" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">
                                        <i class="glyphicon glyphicon-pencil"></i>  Oppdater kategori
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("~/Views/Shared/_Modal.cshtml")